:root {
    --header-height: 48px;
}

* {
    font-family: Tahoma, Georgia, sans-serif, serif;
    color: #a4acc4;
}

body {
    background-color: white;
}

/* Header CSS*/
.header {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    background-color: #4c62a1;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-y: hidden; /* Disable vertical scroll */
    border-radius: 0.5rem;
    /* transition: 0.5s;*/ /* 0.5 second transition effect to slide in the header */

    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    font-size: 20px;
    padding: 0 16px;

    list-style-type: none;
    list-style-position: inside;

    display: flex;
}

ul li {
    padding: 0 16px;
}

ul svg {
    height: 1em;
    width: 1em;    
}

ul a {
    color: #c1cae6;
    text-decoration-line: none;
}

ul a:hover {
    color: white;
}

/* Content CSS*/
.content {
    background-color: white;
}

.content > div {
    padding-top: 64px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content > div > p {
    max-width: 50vw;

    text-align: center;
}

/* Divider CSS*/
.divider {
    height: 25vh;
}